@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Jogos Cadastrados</title>
        <style>
            body {
                background: linear-gradient(to bottom, #000000, #08003d, #000000); /* degrade fundo */
                color: #fffdfd;
                font-family: "Andada Pro", Andada Pro; /* fonte letras */
                margin: 0;
                padding: 0;
            }
        
            .container {
                margin: 50px;
                padding: 20px;
                color: #fffdfd;
            }

            h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }

            th {
                background-color: #000000;
                font-weight: bold;
            }

            .game-image {
                width: 300px;
                height: 300px;
                object-fit: cover;
            }

            .btn {
                display: inline-block;
                padding: 8px 16px;
                margin-right: 10px;
                border-radius: 4px;
                text-decoration: none;
                color: #fff;
                background-color: #007bff;
                border: none;
            }

            .btn.btn-warning {
                background-color: #ffc107;
            }

            .btn.btn-danger {
                background-color: #dc3545;
            }

            .search-container {
            display: flex;
            align-items: center;
            max-width: 300px;
            margin: 20px auto;
            padding: 10px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: flex;
            align-items: center;
            }

            .search-input {
                flex: 1;
                border: none;
                padding: 8px;
                font-size: 16px;
                margin-right: 10px;
                max-width: 250px;
            }

            .search-button {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 8px 16px;
                border-radius: 4px;
                cursor: pointer;
            }

            .nav {
                justify-content: space-between;
            }

            .table-cell {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        </style>
    </head>

    <body>
        <ul class="nav">
            <h1>Lista de Jogos Cadastrados</h1>
            <form class="d-flex" role="search" method="POST">
                <input class="form-control me-2" type="search" placeholder="Nome do Jogo" aria-label="Search" name="nome">
                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
        </ul>
            <table>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Imagem</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Data de Lançamento</th>
                    <th>Classificação Indicativa</th>
                    <th>Requisitos</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach(var jogo in Model)
                {
                    <tr>
                        <td>@jogo.JogoId</td>
                        <td><a href="/Jogo/Detalhes/?idjogo=@jogo.JogoId">@jogo.Nome</a></td>
                        <td><img class="game-image" src="data:image/jpeg;base64,@Convert.ToBase64String(jogo.Imagem)"/></td>
                        <td class="table-cell">@jogo.Descricao</td>
                        <td>@jogo.Preco</td>
                        <td>@jogo.DataLancamento</td>
                        <td>@jogo.ClassificacaoIndicativa</td>
                        <td class="table-cell">@jogo.Requisito</td>
                        <td>@jogo.Status</td>
                        <td><a class="btn btn-warning" href="/Jogo/Update?idJogo=@jogo.JogoId">Editar</a></td>
                        <td>
                            <form method="post" action="/Jogo/Delete?jogoId=@jogo.JogoId">
                                <input type="hidden" name="jogoId" value="@jogo.JogoId" />
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <a href="/Jogo/Cadastro" class="btn btn-primary">Cadastrar</a>
        </div>
    </body>
</html>