@model DLC
@{
    ViewData["Title"] = "Editar DLC";
}
<div class="container-DLC">
  <form class="edit-form-DLC" method="POST" action="/DLC/Atualizar/?idDLC=@Model.IdComplemento" enctype="multipart/form-data">
    <h1>Editar DLC</h1>
    <label for="imagem">Imagem</label>
    <div class="file-upload-DLC">
      <input type="file" name="Imagem" value="@Model.Imagem">
    </div>
    <div class="image-preview-DLC">
      <img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Imagem)"/>
    </div>
    <label for="nome">Nome do Complemento</label>
    <input type="text" id="nome" name="nomeComplemento" value="@Model.NomeComplemento" required>
    <label for="descricao">Descrição</label>
    <textarea id="descricao" name="descricao" rows="4" required>@Model.Descricao</textarea>
    <label for="preco">Preço</label>
    <input type="text" id="preco" name="preco" value="@Model.Preco" required>
    <label for="desconto">Desconto</label>
    <input type="text" id="desconto" name="desconto" value="@Model.Desconto" required>
    <input type="submit" value="Confirmar">
  </form>
</div>
