@model List<DLC>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lista de DLCs do jogo</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      padding: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

  <div class="container">
    <h1>Lista de Complementos do Jogo</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Imagem</th>
          <th>Preco</th>
          <th>Descricao</th>
          <th>Desconto</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        @foreach (DLC complemento in @Model)
        {
            <tr>
                <td>@complemento.IdComplemento</td>
                <td>@complemento.NomeComplemento</td>
                <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(complemento.Imagem)" /></td>
                <td>@complemento.Preco</td>
                <td>@complemento.Descricao</td>
                <td>@complemento.Desconto</td>
                <td><a href="/DLC/Atualizar/?id=@complemento.IdComplemento">Editar</a></td>
                <td><a href="/DLC/desativar/?idDLC=@complemento.IdComplemento">Excluir</a></td>
            </tr>
        }
      </tbody>
    </table>
    <a class="btn btn-primary" href="/DLC/cadastrar">Cadastrar</a>
  </div>

</body>
</html>