<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <style>
        body {
            background: linear-gradient(to bottom, #000000, #08003d, #000000); /* degrade fundo */
            color: #fff;
            font-family: "Andada Pro", Andada Pro; /* fonte letras */
            margin: 0;
            padding: 0;
        }

        .container {
            position: relative;
           
        }
        
        .container h2 {
            position: relative;
            z-index: 1;
            font-size: 20px;
          
        }

        .container table {
            position: 0;
            z-index: 0;
            
        }
        
        .register-form h1 {
            margin-bottom: 100px;
        
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Lista de Jogos Cadastrados</h1>
        <table class="table table-hover">
            @foreach(var jogo in Model)
            {
                <tr>
                    <td>
                        <h2>Código</h2>
                        @jogo.JogoId
                    </td>
                    <td>
                        <h2>Nome</h2>
                        @jogo.Nome
                    </td>
                    <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(jogo.Imagem)" /></td>
                    <td>
                        <h2>Descrição</h2>
                        @jogo.Descricao
                    </td>
                    <td>
                        <h2>Preço</h2>
                        @jogo.Preco
                    </td>
                    <td>
                        <h2>Data de Lançamento</h2>
                        @jogo.DataLancamento
                    </td>
                    <td>
                        <h2>Classificação Indicativa</h2>
                        @jogo.ClassificacaoIndicativa
                    </td>
                    <td>
                        <h2>Requisitos</h2>
                        @jogo.Requisito
                    </td>

                    <td>
                        <a class="btn btn-warning" href="/Administrador/Edit?jogoId=@jogo.JogoId">Editar</a>
                    </td>
                    <td>
                        <form method="post" action="/Administrador/Delete">
                            <input type="hidden" name="jogoId" value="@jogo.JogoId" />
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>    
</body>
<html>
